body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.array-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.array-bar {
    width: 30px;
    margin: 0 5px;
    background-color: lightblue;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.3s ease, height 0.3s ease;
}

.current-item {
    background-color: red; /* Highlight current item */
}

.current-minimum {
    background-color: blue; /* Highlight current minimum */
}

.sorted {
    background-color: violet; /* Changed from green to violet */
}

.legend {
    margin-top: 20px;
}

.legend-item {
    display: inline-block;
    margin: 0 10px;
    font-size: 14px;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


/*======================================================*/
/* <FOOTER SECTION> */
/* Footer at the bottom */
footer {
    margin-top: 600px;
    position: absolute;
    padding: 2rem 9%;
    text-align: center;
    color: #dcdcdc;
    width: 100%; /* Corrected width */
    bottom: 0;
  }
  
  .footer-content p {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  
  .footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .footer-social-icons a {
    color: #864bb7;
    font-size: 2rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .footer-social-icons a:hover {
    transform: scale(1.3);
    color: white;
  }
  