@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

/* MAIN SECTION */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  background-image: url("../images/bg.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 500%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

/* HEADER SECTION */
header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: absolute;
  left: 2%;
  font-size: 3rem;
  color: #b74b4b;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.logo:hover {
  transform: scale(1.1);
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

nav ul li {
  margin: 0;
}

nav a {
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}

/* TITLE ANIMATION */
@keyframes pre-load {
  0%,
  60%,
  100% {
    color: white;
    text-shadow: none;
  }
  40% {
    color: #ae1dfc;
    text-shadow: 0 0 15px #e527db, 0 0 50px #32cde5;
  }
}

/* TITLE STYLES */
.title-text ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 9rem;
  padding-bottom: 2rem;
}

.title-text li {
  list-style: none;
  display: inline-block;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  animation: pre-load 3s linear infinite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-text li:nth-child(1) {
  animation-delay: 0.2s;
}
.title-text li:nth-child(2) {
  animation-delay: 0.4s;
}
.title-text li:nth-child(3) {
  animation-delay: 0.6s;
}
.title-text li:nth-child(4) {
  animation-delay: 0.8s;
}
.title-text li:nth-child(5) {
  animation-delay: 1s;
}

/* CONTENT CONTAINER */
.container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}

/* CONVERSION BOX STYLES */
.conversion-box {
  --border-size: 3px;
  --border-angle: 0turn;
  flex: 1; /* Makes the conversion box take available space */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60vmin;
  height: 50vmin;
  background-image: conic-gradient(
      from var(--border-angle),
      rgb(124, 11, 155),
      rgb(23, 23, 126) 50%,
      rgb(172, 36, 142)
    ),
    conic-gradient(
      from var(--border-angle),
      transparent 20%,
      rgb(243, 243, 243),
      rgb(255, 255, 255)
    );
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

&:hover {
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

/* CONVERTER CONTAINER CONTENT STYLES */
.converter-container-content {
  text-align: center;
  color: white;
}

.converter-text {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

label.direction {
  font-size: 14px;
  font-weight: 300;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1.6rem;
  width: 100%;
  margin: 0.5rem 0;
}

.button-container {
  margin-top: 1rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background-color: #b74b4b;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #f03;
}

/*======================================================================*/
/* RESULT BOX STYLE */
.result-box {
  flex: 1; /* This makes the result box take available space */
  padding: 2rem;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Optional: To make the result box stand out */
  border: 3px solid #fff;
  color: white;
  height: 50vmin;
  overflow-y: auto; /* Allows scrolling if content exceeds box height */
}

.result {
  margin-top: 2rem;
}

.result h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.result ul {
  list-style-type: none;
  padding: 0;
}

.result li {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.result p {
  font-size: 1.8rem;
  margin-top: 1rem;
}
