@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

/* MAIN SECTION */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  background-image: url("../images/bg.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 500%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

/* HEADER SECTION */
header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: absolute;
  left: 2%;
  font-size: 3rem;
  color: #b74b4b;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.logo:hover {
  transform: scale(1.1);
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

nav ul li {
  margin: 0;
}

nav a {
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}

/* TITLE ANIMATION */
@keyframes pre-load {
  0%,
  60%,
  100% {
    color: rgb(43, 223, 243);
    text-shadow: none;
  }
  40% {
    color: #cd8def;
    text-shadow: 0 0 15px #e527db, 0 0 50px #32cde5;
  }
}

/* TITLE STYLES */
.title-text ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 9rem;
  padding-bottom: 2rem;
}

.title-text li {
  list-style: none;
  display: inline-block;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  animation: pre-load 3s linear infinite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-text li:nth-child(1) {
  animation-delay: 0.2s;
}
.title-text li:nth-child(2) {
  animation-delay: 0.4s;
}
.title-text li:nth-child(3) {
  animation-delay: 0.6s;
}
.title-text li:nth-child(4) {
  animation-delay: 0.8s;
}
.title-text li:nth-child(5) {
  animation-delay: 1s;
}

/* CONTENT CONTAINER */
.container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}

/* CONVERSION BOX STYLES */
.conversion-box {
  flex: 1; /* This makes the result box take available space */
  display: flex;
  height: 50vmin;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Optional: To make the result box stand out */
  border: 3px solid #fff;
  color: white;
  height: 50vmin;
  overflow-y: auto; /* Allows scrolling if content exceeds box height */
}

/* CONVERTER CONTAINER CONTENT STYLES */
.converter-container-content {
  text-align: center;
  color: white;
}

.converter-text {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

label.direction {
  font-size: 14px;
  font-weight: 300;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1.6rem;
  width: 100%;
  margin: 0.5rem 0;
}

/* Button Styles */
.button-container {
  display: flex;
  justify-content: center;
  gap: 0;
  margin-top: 1rem;
}

.btn {
  pointer-events: auto;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
}

.button_primary {
  font-family: "Syne", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  background: none;
  padding: 0;
  margin-top: 5px;
  gap: 10px;
}

.button_primary span {
  display: block;
  position: relative;
  padding: 1.5rem 1.5rem;
  mix-blend-mode: difference;
  justify-content: center;
}

.button_primary .btn_bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e7e7e7;
  border-radius: 0.85rem;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button_primary:hover .btn_bg {
  transform: scale3d(1.2, 1.2, 1);
}

.button_primary .btn_bg::before,
.button_primary .btn_bg::after {
  content: "";
  position: absolute;
  background: #000;
}

.button_primary .btn_bg::before {
  width: 110%;
  height: 0;
  padding-bottom: 110%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
}

.button_primary:hover .btn_bg::before {
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}

.button_primary .btn_bg::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.button_primary:hover .btn_bg::after {
  opacity: 1;
  transition-duration: 0.15s;
  transition-delay: 0.9s;
}

.conversion-box,
.result-box {
  flex: 1;
  height: 50vmin;
  overflow-y: auto;
}

/* RESULT BOX STYLE */
.result-box {
  flex: 1; /* This makes the result box take available space */
  padding: 2rem;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Optional: To make the result box stand out */
  border: 3px solid #fff;
  color: white;
  height: 50vmin;
  overflow-y: auto; /* Allows scrolling if content exceeds box height */
}

/* Result Text Styles */
.result {
  margin-top: 2rem;
}

.result {
  margin-top: 1rem;
  font-size: 14px;
}

.result h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.result ul {
  list-style-type: none;
  padding: 0;
}

.result li {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.result p {
  font-size: 14px;
  margin-top: 1rem;
}

/*======================================================*/
/* <FOOTER SECTION> */
footer {
  padding: 2rem 9%;
  text-align: center;
  color: #dcdcdc;
  margin-top: 60px;
}

.footer-content p {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-social-icons a {
  color: #864bb7;
  font-size: 2rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-social-icons a:hover {
  transform: scale(1.3);
  color: white;
}
