@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

/* MAIN SECTION */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  background-image: url("../images/bg.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 500%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

/* HEADER SECTION */
header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: absolute;
  left: 2%;
  font-size: 3rem;
  color: #b74b4b;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.logo:hover {
  transform: scale(1.1);
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

nav ul li {
  margin: 0;
}

nav a {
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}

/* TITLE ANIMATION */
@keyframes pre-load {
  0%,
  60%,
  100% {
    color: white;
    text-shadow: none;
  }
  40% {
    color: #ae1dfc;
    text-shadow: 0 0 15px #e527db, 0 0 50px #32cde5;
  }
}

.title-text ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 10rem;
}

.title-text li {
  list-style: none;
  display: inline-block;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  animation: pre-load 3s linear infinite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-text li:nth-child(1) {
  animation-delay: 0.2s;
}
.title-text li:nth-child(2) {
  animation-delay: 0.4s;
}
.title-text li:nth-child(3) {
  animation-delay: 0.6s;
}
.title-text li:nth-child(4) {
  animation-delay: 0.8s;
}
.title-text li:nth-child(5) {
  animation-delay: 1s;
}
