<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="static/css/base_style.css" />
    <title>Portfolio Website</title>
  </head>
  <body>
    <!-- HEADER SECTION -->
    <header>
      <a href="{{ url_for('home') }}" class="logo">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Logo"
        />
      </a>
      <nav>
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="{{ url_for('profiles') }}">Profiles</a></li>
          <li><a href="{{ url_for('works') }}">Works</a></li>
        </ul>
      </nav>
    </header>

    <!-- HERO SECTION -->
    <section class="hero">
      <div class="codyssey-hero">
        <video class="codyssey-video" autoplay muted loop playsinline>
          <source
            src="{{ url_for('static', filename='mp4/codyssey-hero.mp4') }}"
            type="video/mp4"
          />
          Does not support mp4
        </video>
        <a href="{{ url_for('profiles') }}">
          <button id="about-us-bttn">About Us</button>
        </a>
      </div>
    </section>

    <!-- PROFILE SECTION -->
    <section class="profile-section">
      <div class="prof-sec-details">
        <h2>Meet the Codessians</h2>
        <div class="gallery">
          <!-- Clickable images, linking to their respective profile pages -->
          <a href="{{ url_for('chin_profile') }}">
            <img src="static/images/img_chin.jpg" alt="chin Profile" />
          </a>
          <a href="kei_profile">
            <img src="static/images/img_kei.jpg" alt="kei Profile" />
          </a>
          <a href="ryl_profile">
            <img src="static/images/img_daryl.jpg" alt="ryl Profile" />
          </a>
          <a href="ed_profile">
            <img src="static/images/img_ed.jpg" alt="ed Profile" />
          </a>
          <a href="gab_profile">
            <img src="static/images/img_gab.jpg" alt="gab Profile" />
          </a>
          <a href="gelo_profile">
            <img src="static/images/img_gelo.jpg" alt="gelo Profile" />
          </a>
          <a href="ris_profile">
            <img src="static/images/img_reece.jpg" alt="ris Profile" />
          </a>
        </div>
      </div>
    </section>

    <!-- WORKS SECTION -->
    <section class="works-section">
      <div class="works-details">
        <div class="text-column-left">
          <span class="vertical-text">O</span>
          <span class="vertical-text">U</span>
          <span class="vertical-text">R</span>
        </div>
        <div class="dsa-works"><h2>Hello</h2></div>
        <div class="text-column-right">
          <span class="vertical-text">C</span>
          <span class="vertical-text">R</span>
          <span class="vertical-text">E</span>
          <span class="vertical-text">A</span>
          <span class="vertical-text">T</span>
          <span class="vertical-text">I</span>
          <span class="vertical-text">O</span>
          <span class="vertical-text">N</span>
          <span class="vertical-text">S</span>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer>
      <div class="footer-content">
        <p>© 2025 Codyssey. All Rights Reserved.</p>
        <div class="footer-social-icons">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
