<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base_style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base_profile_style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="#" class="logo">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Logo"
        />
      </a>
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li>
            <a href="{{ url_for('profiles') }}" class="active">Profiles</a>
          </li>
          <li><a href="{{ url_for('works') }}">Works</a></li>
        </ul>
      </nav>
    </header>

    <!--SECTION 1: SHEENA INFO-->
    <section class="section-one-sheena">
      <div class="container">
        <div class="glassmorphism">
          <!-- Left side for image and technical skills -->
          <div class="left-side">
            <div class="circular-container">
              <img id="profile-img" src="{{ url_for('static', filename='images/img_sheena.png') }}" alt="Profile Picture" />
            </div>
    
            <!-- Technical Skills Section -->
            <div class="skills">
              <h3>Sheena Mae</h3>
              <h4>Technical Skills</h3>
    
              <div class="skill">
                <label for="python"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress python"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/python_logo.png') }}" alt="Python Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="html"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress html"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/html_logo.png') }}" alt="HTML Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="css"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress css"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/css_logo.png') }}" alt="CSS Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="aws"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress aws"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/aws_logo.png') }}" alt="AWS Logo" />
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Right side for profile description -->
          <div class="right-side">
            <h2>About Me</h2>
            <p>Hello! My name is Sheena Mae D. Delima, a computer engineering student at Polytechnic University of the Philippines. 
                I am deeply passionate about front-end development and cloud computing, driven by a desire to create visually stunning user experiences while leveraging scalable cloud solutions.
                 My dedication pushes me to master front-end technologies and cloud integration, ensuring I deliver innovative and impactful projects. 
                 Hence, I am continuously learning and open to new opportunities in front-end development and cloud computing.</p>
              
            <!-- Portfolio and GitHub Section -->
            <div class="portfolio-section">
              <h3>Selected Projects</h3>
            </div>
    
            <!-- GitHub Link Square -->
            <div class="github-row">
              <!-- Poster 1 -->
              <div class="github-container">
                <a href="https://github.com/sheenugh/sign_language_detection_version2" target="_blank">
                  <div class="square-container">
                    <img src="static\images\sign_language_detection.jpg" alt="Sign Language Detection Poster" class="square-image" />
                  </div>
                </a>
              </div>
            

              <!-- Poster 3 -->
              <div class="github-container">
                <a href="https://github.com/sheenugh/AProgramOfBillingAndCalculatorSystem" target="_blank">
                  <div class="square-container">
                    <img src="static\images\billing_system.png" alt="Billing System Poster" class="square-image" />
                  </div>
                </a>  
              </div>
            
              <!-- Poster 4 -->
              <div class="github-container">
                <a href="https://github.com/sheenugh/instagaram_login_system" target="_blank">
                  <div class="square-container">
                    <img src="static\images\ig_login_system.png" alt="Instagram Login Poster" class="square-image" />
                  </div>
                </a>
              </div>
            </div>
            
            <!-- Let's Connect Section -->
            <div class="connect-section">
              <h3>Let's Connect</h3>
              <div class="social-grid">
                <div class="social-icons">
                  <a href="https://www.linkedin.com/in/sheena-mae-delima-413809297/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/sheenugh" target="_blank">
                    <i class="fa-brands fa-github"></i>
                  </a>
                  <a href="https://www.facebook.com/profile.php?id=100074418943027&mibextid=ZbWKwL" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a
                    href="https://www.instagram.com/chiin.chiin_?igsh=MTA2anB0eTdva2J3Mg==" target="_blank"
                  >
                    <i class="fa-brands fa-instagram"></i>
                  </a>
              </div>
            </div>
    
            <!-- Contact Section -->
            <div class="contact-section">
              <h3>Contact</h3>
              <div class="contact-grid">
                <!-- Email Contact -->
                <div class="contact-item">
                  <a href="mailto:delimasheenamae16@gmail.com" target="_blank">
                    <i class="fa-solid fa-envelope"></i> <!-- Email Icon -->
                  </a>
                </div>
            
                <!-- Phone Contact -->
                <div class="contact-item">
                  <a href="tel:+63992521080" target="_blank">
                    <i class="fa-solid fa-phone"></i> <!-- Phone Icon -->
                  </a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>

    <!--SECTION 2: KEI INFO-->
    <section class="section-two-kei">
      <div class="container">
        <div class="glassmorphism">
          <!-- Left side for image and technical skills -->
          <div class="left-side">
            <div class="circular-container">
              <img id="profile-img" src="{{ url_for('static', filename='images/img_kei.png') }}" alt="Profile Picture" />
            </div>
    
            <!-- Technical Skills Section -->
            <div class="skills">
              <h3>Kei</h3>
              <h4>Technical Skills</h3>
    
              <div class="skill">
                <label for="python"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress python"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/python_logo.png') }}" alt="Python Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="html"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress html"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/html_logo.png') }}" alt="HTML Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="css"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress css"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/css_logo.png') }}" alt="CSS Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="aws"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress aws"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/aws_logo.png') }}" alt="AWS Logo" />
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Right side for profile description -->
          <div class="right-side">
            <h2>About Me</h2>
            <p>Hello! My lived name is Kei Agulto, but my real name is Marck Christian I. Agulto.
                As an aspiring individual, I'm passionate about art in all its forms, and I specialize in hair and makeup artistry.
                I'm also aspiring to be a model, and I'm proud to be part of PUP ICON.
                In addition to my artistic interests, I have a deep love for technology, particularly in UI/UX design.
                I enjoy combining creativity with functionality to create user-friendly and aesthetically pleasing experiences.
                I'm always excited to explore new opportunities, learn, and grow in all aspects of my passion!</p>
    
            <!-- Portfolio and GitHub Section -->
            <div class="portfolio-section">
              <h3>Selected Projects</h3>
            </div>
    
            <!-- GitHub Link Square -->
            <div class="github-row">
              <div class="github-container">
                <div class="square-container">
                  <img src="static/images/art_creation5.png" alt="Icons models" class="square-image" />
                </div>
              </div>
              
              <div class="github-container">
                <div class="square-container">
                  <img src="static/images/art_creation1.png" alt="Kei model" class="square-image" />
                </div>
              </div>
              

              <div class="github-container">
                <div class="square-container">
                  <img src="static/images/art_creation4.png" alt="Icons model" class="square-image" />
                </div>
              </div>
            </div>

            <!-- Let's Connect Section -->
            <div class="connect-section">
              <h3>Let's Connect</h3>
              <div class="social-grid">
                <div class="social-icons">
                  <a href="https://www.linkedin.com/in/marck-agulto-b11b2a29a/">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/m1sskeiso">
                    <i class="fa-brands fa-github"></i>
                  </a>
                  <a href="https://www.facebook.com/m1sskei/">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a
                    href="https://www.instagram.com/m1sskei/"
                  >
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
    
            <!-- Contact Section -->
            <div class="contact-section">
              <h3>Contact</h3>
              <div class="contact-grid">
                <!-- Email Contact -->
                <div class="contact-item">
                  <a href="mailto:marckagulto@gmail.com" target="_blank">
                    <i class="fa-solid fa-envelope"></i> <!-- Email Icon -->
                  </a>
                </div>
            
                <!-- Phone Contact -->
                <div class="contact-item">
                  <a href="tel:+639703441345" target="_blank">
                    <i class="fa-solid fa-phone"></i> <!-- Phone Icon -->
                  </a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>

    <!--SECTION 3: DARYL INFO-->
    <section class="section-three-daryl">
      <div class="container">
        <div class="glassmorphism">
          <!-- Left side for image and technical skills -->
          <div class="left-side">
            <div class="circular-container">
              <img id="profile-img" src="{{ url_for('static', filename='images/img_daryl.png') }}" alt="Profile Picture" />
            </div>
    
            <!-- Technical Skills Section -->
            <div class="skills">
              <h3>Daryl</h3>
              <h4>Technical Skills</h3>
    
              <div class="skill">
                <label for="python"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress python"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/python_logo.png') }}" alt="Python Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="html"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress html"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/html_logo.png') }}" alt="HTML Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="css"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress css"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/css_logo.png') }}" alt="CSS Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="aws"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress aws"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/aws_logo.png') }}" alt="AWS Logo" />
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Right side for profile description -->
          <div class="right-side">
            <h2>About Me</h2>
            <p>Greetings! I'm Daryl Keith P. Tuazon, a scholar studying at the Polytechnic University of the Philippines, taking a Bachelor of Science in Computer Engineering program.
                 I am deeply passionate about software engineering and cybersecurity, driven by a relentless curiosity to innovate and protect, while also embracing the analytical challenges of data engineering to craft impactful solutions.
                  Beyond my technical pursuits, I love singing and a little bit of dancing, and I dream of creating many exciting games in the future.</p>
    
            <!-- Portfolio and GitHub Section -->
            <div class="portfolio-section">
              <h3>Selected projects</h3>
            </div>
    
            <!-- GitHub Link Square -->
            <div class="github-container">
              <a href="https://github.com/your-github-profile" target="_blank">
                <div class="square-container">
                  <img src="https://github.com/favicon.ico" alt="GitHub Logo" class="square-image" />
                </div>
              </a>
            </div>
    
            <!-- Let's Connect Section -->
            <div class="connect-section">
              <h3>Let's Connect</h3>
              <div class="social-grid">
                <div class="social-icons">
                  <a href="">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/ProgrammerDaryl">
                    <i class="fa-brands fa-github"></i>
                  </a>
                  <a href="https://www.facebook.com/darylkeith.tuazon?mibextid=ZbWKwL">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a
                    href="https://www.instagram.com/rylbluu/profilecard/?igsh=MWZvcWYwYWc3MHhhMA=="
                  >
                    <i class="fa-brands fa-instagram"></i>
                  </a>
              </div>
            </div>
    
            <!-- Contact Section -->
            <div class="contact-section">
              <h3>Contact</h3>
              <div class="contact-grid">
                <!-- Email Contact -->
                <div class="contact-item">
                  <a href="mailto: pegollodktuazon@gmail.com" target="_blank">
                    <i class="fa-solid fa-envelope"></i> <!-- Email Icon -->
                  </a>
                </div>
            
                <!-- Phone Contact -->
                <div class="contact-item">
                  <a href="tel:+639686109513" target="_blank">
                    <i class="fa-solid fa-phone"></i> <!-- Phone Icon -->
                  </a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>

    <!--SECTION 4: ED INFO-->
    <section class="section-four-ed">
      <div class="container">
        <div class="glassmorphism">
          <!-- Left side for image and technical skills -->
          <div class="left-side">
            <div class="circular-container">
              <img id="profile-img" src="{{ url_for('static', filename='images/img_ed.png') }}" alt="Profile Picture" />
            </div>
    
            <!-- Technical Skills Section -->
            <div class="skills">
              <h3>Edmharx</h3>
              <h4>Technical Skills</h3>
    
              <div class="skill">
                <label for="python"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress python"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/python_logo.png') }}" alt="Python Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="html"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress html"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/html_logo.png') }}" alt="HTML Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="css"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress css"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/css_logo.png') }}" alt="CSS Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="aws"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress aws"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/aws_logo.png') }}" alt="AWS Logo" />
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Right side for profile description -->
          <div class="right-side">
            <h2>About Me</h2>
            <p>gegeEdmharx D. Macasinag, 19, currently taking Bachelor of Science in Computer Engineering at Polytechnic university of the Philippines. Initially, I am really interested in building personal computers, becoming my hobby and currently making me some income as well.
                 However as the pandemic enveloped the world and all things are deeply dependent on technology, it opened a new opportunity for me to discover new things, specifically programming, that are also closelly related to computers.
                  Backend programming caught my attention and I am now expanding my knowledge on AI's, System Frameworks, and Database. The only source of knowledge is experience, thus I am bold in taking new challenges that will enhance my programming skills.
            </p>
    
            <!-- Portfolio and GitHub Section -->
            <div class="portfolio-section">
              <h3>Selected Projects</h3>
            </div>
    
            <!-- GitHub Link Square -->
            <div class="github-container">
              <a href="https://github.com/your-github-profile" target="_blank">
                <div class="square-container">
                  <img src="https://github.com/favicon.ico" alt="GitHub Logo" class="square-image" />
                </div>
              </a>
            </div>
    
            <!-- Let's Connect Section -->
            <div class="connect-section">
              <h3>Let's Connect</h3>
              <div class="social-grid">
                <div class="social-icons">
                  <a href="">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href=" https://github.com/edmharx">
                    <i class="fa-brands fa-github"></i>
                  </a>
                  <a href="https://www.facebook.com/edmharx.macasinag/">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a
                    href="https://www.instagram.com/edmharxx/"
                  >
                    <i class="fa-brands fa-instagram"></i>
                  </a>
              </div>
            </div>
    
            <!-- Contact Section -->
            <div class="contact-section">
              <h3>Contact</h3>
              <div class="contact-grid">
                <!-- Email Contact -->
                <div class="contact-item">
                  <a href="mailto: edmharxx@gmail.com" target="_blank">
                    <i class="fa-solid fa-envelope"></i> <!-- Email Icon -->
                  </a>
                </div>
            
                <!-- Phone Contact -->
                <div class="contact-item">
                  <a href="tel:+639195849365" target="_blank">
                    <i class="fa-solid fa-phone"></i> <!-- Phone Icon -->
                  </a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>

    <!--SECTION 5: GAB INFO-->
    <section class="section-five-gab">
      <div class="container">
        <div class="glassmorphism">
          <!-- Left side for image and technical skills -->
          <div class="left-side">
            <div class="circular-container">
              <img id="profile-img" src="{{ url_for('static', filename='images/img_gab.png') }}" alt="Profile Picture" />
            </div>
    
            <!-- Technical Skills Section -->
            <div class="skills">
              <h3>Gabriel</h3>
              <h4>Technical Skills</h3>
    
              <div class="skill">
                <label for="python"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress python"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/python_logo.png') }}" alt="Python Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="html"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress html"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/html_logo.png') }}" alt="HTML Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="css"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress css"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/css_logo.png') }}" alt="CSS Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="aws"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress aws"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/aws_logo.png') }}" alt="AWS Logo" />
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Right side for profile description -->
          <div class="right-side">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...

            </p>
    
            <!-- Portfolio and GitHub Section -->
            <div class="portfolio-section">
              <h3>Selected Projects</h3>
            </div>
    
            <!-- GitHub Link Square -->
            <div class="github-container">
              <a href="https://github.com/your-github-profile" target="_blank">
                <div class="square-container">
                  <img src="https://github.com/favicon.ico" alt="GitHub Logo" class="square-image" />
                </div>
              </a>
            </div>
    
            <!-- Let's Connect Section -->
            <div class="connect-section">
              <h3>Let's Connect</h3>
              <div class="social-grid">
                <div class="social-icons">
                  <a href="">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/GabrielFlores32">
                    <i class="fa-brands fa-github"></i>
                  </a>
                  <a href="https://www.facebook.com/araww.gabi?mibextid=ZbWKwL">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a
                    href="https://www.instagram.com/_gabobooo?igsh=eXVlcDloMmd5NmRo"
                  >
                    <i class="fa-brands fa-instagram"></i>
                  </a>
              </div>
            </div>
    
            <!-- Contact Section -->
            <div class="contact-section">
              <h3>Contact</h3>
              <div class="contact-grid">
                <!-- Email Contact -->
                <div class="contact-item">
                  <a href="mailto:gabgabflores2@gmail.com" target="_blank">
                    <i class="fa-solid fa-envelope"></i> <!-- Email Icon -->
                  </a>
                </div>
            
                <!-- Phone Contact -->
                <div class="contact-item">
                  <a href="tel: +639288282145" target="_blank">
                    <i class="fa-solid fa-phone"></i> <!-- Phone Icon -->
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--SECTION 6: GELO INFO-->
    <section class="section-six-gelo">
      <div class="container">
        <div class="glassmorphism">
          <!-- Left side for image and technical skills -->
          <div class="left-side">
            <div class="circular-container">
              <img id="profile-img" src="{{ url_for('static', filename='images/img_gelo.png') }}" alt="Profile Picture" />
            </div>
    
            <!-- Technical Skills Section -->
            <div class="skills">
              <h3>Angelo</h3>
              <h4>Technical Skills</h3>
    
              <div class="skill">
                <label for="python"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress python"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/python_logo.png') }}" alt="Python Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="html"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress html"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/html_logo.png') }}" alt="HTML Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="css"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress css"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/css_logo.png') }}" alt="CSS Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="aws"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress aws"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/aws_logo.png') }}" alt="AWS Logo" />
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Right side for profile description -->
          <div class="right-side">
            <h2>About Me</h2>
            <p>Hello! My name is Angelo, and I’m a passionate engineering student with a deep interest in technology, innovation, and problem-solving. Ever since I was young, I’ve been fascinated by how things work, whether it’s understanding the mechanics of a machine or the logic behind a piece of software.
                As an aspiring engineer, I’ve worked on several projects that have allowed me to explore my interests.
                 For example, I’ve built small robotics prototypes, developed simple web applications using HTML, CSS, and Python, and collaborated on team projects to design sustainable solutions for everyday problems.
                  I find joy in tackling challenges and learning new skills along the way.</p>
    
            <!-- Portfolio and GitHub Section -->
            <div class="portfolio-section">
              <h3>Selected Projects</h3>
            </div>
    
            <!-- GitHub Link Square -->
            <div class="github-container">
              <a href="https://github.com/your-github-profile" target="_blank">
                <div class="square-container">
                  <img src="https://github.com/favicon.ico" alt="GitHub Logo" class="square-image" />
                </div>
              </a>
            </div>
    
            <!-- Let's Connect Section -->
            <div class="connect-section">
              <h3>Let's Connect</h3>
              <div class="social-grid">
                <div class="social-icons">
                  <a href="">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/ProgrammerAngelo?tab=repositories">
                    <i class="fa-brands fa-github"></i>
                  </a>
                  <a href="https://www.facebook.com/angelo.pangilagan.7">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a
                    href="https://www.instagram.com/un.gelo_/profilecard/?igsh=MW9iNTk0ZHg1eGNodA=="
                  >
                    <i class="fa-brands fa-instagram"></i>
                  </a>
              </div>
            </div>
    
            <!-- Contact Section -->
            <div class="contact-section">
              <h3>Contact</h3>
              <div class="contact-grid">
                <!-- Email Contact -->
                <div class="contact-item">
                  <a href="mailto: angelovpangilagan@gmail.com" target="_blank">
                    <i class="fa-solid fa-envelope"></i> <!-- Email Icon -->
                  </a>
                </div>
            
                <!-- Phone Contact -->
                <div class="contact-item">
                  <a href="tel: +639996871211" target="_blank">
                    <i class="fa-solid fa-phone"></i> <!-- Phone Icon -->
                  </a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>

    <!--SECTION 7: REECE INFO-->
    <section class="section-seven-reece">
      <div class="container">
        <div class="glassmorphism">
          <!-- Left side for image and technical skills -->
          <div class="left-side">
            <div class="circular-container">
              <img id="profile-img" src="{{ url_for('static', filename='images/img_reece.png') }}" alt="Profile Picture" />
            </div>
    
            <!-- Technical Skills Section -->
            <div class="skills">
              <h3>Reece</h3>
              <h4>Technical Skills</h3>
    
              <div class="skill">
                <label for="python"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress python"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/python_logo.png') }}" alt="Python Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="html"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress html"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/html_logo.png') }}" alt="HTML Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="css"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress css"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/css_logo.png') }}" alt="CSS Logo" />
                  </div>
                </div>
              </div>
    
              <div class="skill">
                <label for="aws"></label>
                <div class="skill-container">
                  <div class="progress-bar">
                    <div class="progress aws"></div>
                  </div>
                  <div class="skill-image-circle">
                    <img class="skill-image" src="{{ url_for('static', filename='images/aws_logo.png') }}" alt="AWS Logo" />
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <!-- Right side for profile description -->
          <div class="right-side">
            <h2>About Me</h2>
            <p>Hello! My name is Reece, and I’m an engineering student who’s passionate about exploring the intersection of creativity and technology. I’ve always been fascinated by the way simple ideas can evolve into powerful solutions, whether it’s through building circuits, coding applications, or designing innovative systems. As an aspiring engineer, I’ve coded interactive tools using Python, experimented with hardware like Arduino and Raspberry Pi, and even participated in a hackathon where my team designed a smart energy monitor. When I’m not immersed in tech, you’ll find me playing guitar, sketching designs, or exploring local food spots with friends. To me, engineering is more than just equations; it’s a way to bring ideas to life and make a difference in the world.</p>
    
            <!-- Portfolio and GitHub Section -->
            <div class="portfolio-section">
              <h3>Selected Projects</h3>
            </div>
    
            <!-- GitHub Link Square -->
            <div class="github-container">
              <a href="https://github.com/your-github-profile" target="_blank">
                <div class="square-container">
                  <img src="https://github.com/favicon.ico" alt="GitHub Logo" class="square-image" />
                </div>
              </a>
            </div>
    
            <!-- Let's Connect Section -->
            <div class="connect-section">
              <h3>Let's Connect</h3>
              <div class="social-grid">
                <div class="social-icons">
                  <a href="">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="https://github.com/ReeceTeylan">
                    <i class="fa-brands fa-github"></i>
                  </a>
                  <a href="https://www.facebook.com/reece.teylan?mibextid=ZbWKwL">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a
                    href="https://www.instagram.com/rissssssssssssssss/"
                  >
                    <i class="fa-brands fa-instagram"></i>
                  </a>
              </div>
            </div>
    
            <!-- Contact Section -->
            <div class="contact-section">
              <h3>Contact</h3>
              <div class="contact-grid">
                <!-- Email Contact -->
                <div class="contact-item">
                  <a href="mailto: Reecebaron.teylan@gmail.com" target="_blank">
                    <i class="fa-solid fa-envelope"></i> <!-- Email Icon -->
                  </a>
                </div>
            
                <!-- Phone Contact -->
                <div class="contact-item">
                  <a href="tel: +639157970379" target="_blank">
                    <i class="fa-solid fa-phone"></i> <!-- Phone Icon -->
                  </a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer>
      <div class="footer-content">
        <p>© 2025 Codyssey. All Rights Reserved.</p>
        <div class="footer-social-icons">
          <a href="https://www.facebook.com/profile.php?id=100074418943027&mibextid=ZbWKwL" target="blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://github.com/ProgrammerAngelo/website_portfolio.git" target="blank"><i class="fa-brands fa-github"></i></a>
          <a href="https://www.instagram.com/chiin.chiin_?igsh=MTA2anB0eTdva2J3Mg==" target="blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/delima-sheena-mae-413809297" target="blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
