<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="static/css/works_style.css" />
    <title>Portfolio Webpage</title>
  </head>

  <body>
    <!-- HEADER SECTION -->
    <header>
      <a href="#" class="logo">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="Logo"
        />
      </a>
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('profiles') }}">Profiles</a></li>
          <li><a href="{{ url_for('works') }}" class="active">Works</a></li>
        </ul>
      </nav>
    </header>

    <!-- CHAR RAVEN IN THE LOWER LEFT CORNER -->
    <img
      src="{{ url_for('static', filename='images/raven.png') }}"
      alt="Raven"
      class="raven-image"
    />

    <section class="section-one">
    <div class="container-box">
      <!-- Title Section inside the container -->
      <div class="title">Data Structure and Algorithm Implementations </div>

      <div class="card-group">
        <div class="card">
          <img src="{{ url_for('static', filename='images/linked_list.png') }}" />
          <div class="layer"></div>
          <div class="info">
            <p>
            </p>
            <a href="{{ url_for('link_list') }}">
                <button class="explore-button">Explore</button>
          </div>
        </div>

        <div class="card">
          <img src="{{ url_for('static', filename='images/stack.png') }}" />
          <div class="layer"></div>
          <div class="info">
            <p>
            </p>
            <a href="{{ url_for('stack') }}">
                <button class="explore-button">Explore</button>
          </div>
        </div>

        <div class="card">
          <img src="{{ url_for('static', filename='images/queue.png') }}" />
          <div class="layer"></div>
          <div class="info">
            <p>
            </p>
            <a href="{{ url_for('queue_page') }}">
                <button class="explore-button">Explore</button>
          </div>
        </div>

        <div class="card">
          <img src="{{ url_for('static', filename='images/binary_tree.png') }}" />
          <div class="layer"></div>
          <div class="info">
            <p>
            </p>
            <a href="{{ url_for('binary_tree_page') }}">
                <button class="explore-button">Explore</button>
          </div>
        </div>

        <div class="card">
          <img src="{{ url_for('static', filename='images/graph.png') }}" />
          <div class="layer"></div>
          <div class="info">
            <p>
            </p>
            <a href="{{ url_for('graph') }}">
                <button class="explore-button">Explore</button>
          </div>
        </div>

        <div class="card">
          <img src="{{ url_for('static', filename='images/bubble-sort.png') }}" />
          <div class="layer"></div>
          <div class="info">
            <p>
            </p>
            <a href="{{ url_for('graph') }}">
                <button class="explore-button">Explore</button>
          </div>
        </div>
        
        <div class="card">
          <img src="{{ url_for('static', filename='images/selection-sort.png') }}" />
          <div class="layer"></div>
          <div class="info">
            <p>
            </p>
            <a href="{{ url_for('sort') }}">
                <button class="explore-button">Explore</button>
          </div>
        </div>

        <div class="card">
          <img src="{{ url_for('static', filename='images/insertion-sort.png') }}" />
          <div class="layer"></div>
          <div class="info">
            <p>
            </p>
            <a href="{{ url_for('insertion_sort_page') }}">
                <button class="explore-button">Explore</button>
          </div>
        </div>

        <div class="card">
          <img src="{{ url_for('static', filename='images/merge-sort.png') }}" />
          <div class="layer"></div>
          <div class="info">
            <p>
            </p>
            <a href="{{ url_for('merge_sort_page') }}">
                <button class="explore-button">Explore</button>
          </div>
        </div>

        <div class="card">
          <img src="{{ url_for('static', filename='images/quick-sort.png') }}" />
          <div class="layer"></div>
          <div class="info">
            <p>
        
            </p>
            <a href="{{ url_for('graph') }}">
                <button class="explore-button">Explore</button>
          </div>
        </div>
        
      </div>
    </div>
  </section>

    <!-- FOOTER -->
    <footer>
      <div class="footer-content">
        <p>© 2025 Codyssey. All Rights Reserved.</p>
        <div class="footer-social-icons">
          <a href="https://www.facebook.com/profile.php?id=100074418943027&mibextid=ZbWKwL" target="blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://github.com/ProgrammerAngelo/website_portfolio.git" target="blank"><i class="fa-brands fa-github"></i></a>
          <a href="https://www.instagram.com/chiin.chiin_?igsh=MTA2anB0eTdva2J3Mg==" target="blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/delima-sheena-mae-413809297" target="blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </footer>
    
  </body>
</html>